:root {
  --background1: rgb(33, 32, 32);
  --background2: rgb(56, 87, 108);
  --text1: rgb(241, 238, 227);
  --text2: rgb(132, 38, 38);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

/* Home Page */

body {
  font-family: trebuchet ms;
  background-color: var(--background1);
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  color: var(--text1);
  margin: 2rem auto;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  color: var(--text1);
}

.underline {
  text-align: center;
  border-bottom: 3px solid white;
}

h3 {
  font-size: 3rem;
  color: var(--text2);
}

nav {
  background-color: var(--text2);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

nav ul {
  display: flex;
  margin-right: 2rem;
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text1);
}

nav a {
  display: block;
  padding: 1.4rem;
  font-size: 1.3rem;
}

nav a:hover {
  background-color: var(--background2);
}

#welcome-section {
  height: 100vh;
}

#code-img {
  position: absolute;
  z-index: 0;
  top: 48px;
  object-fit: cover;
  height: 100vh;
  width: 99vw;
}

#overlay {
  position: absolute;
  z-index: 1;
  top: 48px;
  height: 100vh;
  width: 99vw;
  background-color: rgba(22, 23, 23, 0.839);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects {
  background-color: var(--background2);
  min-height: 800px;
  padding: 3rem 0;
}

#projects h2 {
  font-size: 2.5rem;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  padding: 4rem 0 1rem 0;
  text-align: center;
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  width: 90%;
  max-width: 1600px;
  margin: 3rem auto;
}

.project-tile {
  width: 500px;
  transition: 0.4s;
  justify-self: center;
}

.project-tile:hover {
  transform: scale(1.1);
  transition: 0.4s;
  box-shadow: 0 0 20px 3px rgb(65, 70, 85);
}

.project-tile img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.project-tile p {
  background-color: rgb(65, 70, 85);
  font-size: 20px;
  text-align: center;
  padding: 1.8rem;
  margin-top: -5px;
}

#show-all-projects:hover {
  text-decoration: underline;
}

#contact {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact h2 {
  margin: 3rem 0 3rem;
  padding: 2rem 1.2rem;
}

#freecodecamp-logo {
  width: 200px;
}

.contact-btn {
  display: flex;
  margin: 0.6rem;
  font-size: 24px;
  letter-spacing: 2px;
}

i {
  margin-left: 7px;
}

@media (max-width: 1150px) {
  #projects-grid {
    display: grid;
    grid-template-columns: minmax(500px, 1fr);
  }
}

@media (max-width: 600px) {
  #projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .project-tile {
    width: 300px;
  }

  .project-tile img {
    height: 150px;
  }

  nav {
    justify-content: center;
  }

  nav ul {
    margin: 0;
  }
}

/* Projects Page */

#full-projects {
  background-color: var(--background2);
  min-height: 100vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px 70px 50px;
}

#full-projects-title {
  height: 50px;
  margin: 0 auto 20px;
  padding: 2rem;
  text-align: center;
  font-size: 60px;
}

.project-container {
  width: 95%;
  min-height: 220px;
  display: flex;
  align-items: center;
}

.project-text-container {
  min-height: 200px;
  margin: 1rem 1rem 1rem 0;
}

.project-text-container h2:hover {
  text-decoration: underline;
}

.project-text-container p {
  color: var(--text1);
  font-size: 20px;
  margin-top: 10px;
}

.project-thumb {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 1rem;
}

.project-thumb:hover {
  box-shadow: 0 0 10px black;
}

hr {
  width: 92%;
  background-color: var(--text1);
  height: 2px;
}

/* Resume */

#resume {
  background-color: var(--background2);
  max-width: 1700px;
  min-height: 100vh;
  padding: 0 2rem;
}

#resume h1 {
  margin-top: 5rem;
}

#resume-inner {
  display: grid;
  grid-template-columns: 400px;
  grid-auto-columns: auto-fit;
  grid-auto-flow: column;
  gap: 2rem;
}

#resume-pic {
  height: 500px;
  max-width: 400px;
  grid-row: span 2;
}

.resume-heading {
  margin-bottom: 10px;
  font-size: 40px;
}

.resume-text p,
.resume-text li {
  font-size: 20px;
  line-height: 1.4;
}

.resume-text ul {
  padding-left: 1.4rem;
}

@media (max-width: 1200px) {
  #resume-inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  #resume-pic {
    margin-bottom: 2rem;
    align-self: center;
  }
}
